{% block content %}

<head>
  <style type="text/css">
    .bulb3 {
      border-radius: 60px/60px;
   }
   .textt{
      text-align:  center;
  } 
  </style>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
</head>

<body>
  <div class="w3-bar w3-black">
          <a href="http://127.0.0.1:5000/" class= "w3-wide w3-hover-aqua bulb3 w3-bar-item w3-button" target = "_self"><font size="10">Back</a>
  </div>
  <div class="w3-display-middle w3-xxlarge"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1 class="w3-bar w3-black"> Enter your data </h1><br>
    <form method="POST">
      <h1> Enter your gender 
        <select name="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </h1>
      <h1> Are u married? 
        <select name="married">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select><br>
      </h1>
      <h1> Enter your dependents 
        <select name="dependents">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3+">3+</option>
        </select><br>
      </h1>
      <h1> Enter your education
        <select name="education">
          <option value="Graduate">Graduate</option>
          <option value="Not Graduate">Not Graduate</option>
        </select><br>
      </h1>
      <h1> Are u self employed?
        <select name="employed">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select><br>
      </h1>
      <h1> Your Applicant income?
        <input type="text" style="margin:1px"name="Applicant_income" placeholder="Applicant income" required /><br>
      </h1>
      <h1> Your Coapplicant  income?
        <input type="text" style="margin:1px"name="Coapplicant_income" placeholder="Coapplicant income" required /><br>
      </h1>
      <h1> Loan amount in thousands
        <input type="text" style="margin:1px"name="LoanAmount" placeholder="Loan amount" required /><br>
      </h1>
      <h1> Term of loan in months
        <input type="text" style="margin:1px"name="Loan_Amount_Term" placeholder="Term of loan" required /><br>
      </h1>
      <h1> Credit history meets guidelines?
        <select name="History">
          <option value="1">Yes</option>
          <option value="0">N0</option>
        </select><br>
      </h1>
      <h1> Property Area?
        <select name="Property_Area">
          <option value="Urban">Urban</option>
          <option value="Semiurban">Semi Urban</option>
          <option value="Rural">Rural</option>
        </select><br>
      </h1><br>
      <input type="submit" class= "w3-wide  w3-bar-item w3-button" target = "_self">
    </form>
  </div>
</body>

{%endblock %}
